@import url(http://fonts.googleapis.com/css?family=Muli);
body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}

a {
  color: #12c064;
  text-decoration: none;
}

a:hover {
  color: #00a74f;
}

h1 {
  font-family: helvetica;
  font-weight: normal;
  border-bottom: 1px solid #bbb;
  padding: 0 0 10px 0;
}

h2, h3 {
  font-family: "Muli", sans-serif;
  font-weight: normal;
  margin: 30px 0 0;
}

#header {
  padding: 10px 100px;
  font-size: 14px;
  background: #12c064;
  color: #fff;
  border-bottom: 4px solid #1cdf78;
  overflow: auto;
}

#header .logo {
  font-family: "Muli", sans-serif;
  float: left;
  color: #f3f7cc;
  font-size: 20px;
  margin-right: 10%;
}

#header a {
  color: #f3f7cc;
}

#header a:hover {
  color: #fff;
}

#header .user {
  float: right;
  padding-top: 4px;
}

#content {
  float: left;
  width: 60%;
  padding: 0 0 0 30px;
}

#sidebar {
  float: right;
  width: 30%;
  padding: 10px;
  background: #efefef;
  height: 100%;
}

p.date {
  color: rgb(141, 145, 142);
  font-family: georgia, serif;
  font-size: 12px;
  font-style: italic;
}

/* pagination */

.pagination {
  margin: 40px 0;
  font-weight: bold;
}

/* forms */

form {
  overflow: auto;
}

form p {
  width: 100%;
  overflow: auto;
}

label {
  float: left;
  clear: both;
  color: #333;
  margin-bottom: 4px;
}

input, textarea {
  clear: both;
  float: left;
  margin: 0 0 10px;
  background: #ededed;
  border: 0;
  padding: 6px 10px;
  font-size: 12px;
}

input[type=submit] {
  font-weight: bold;
  background: #12c064;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.errorlist {
  color: #cc0033;
  float: left;
  clear: both;
  padding-left: 10px;
}

/* comments */

.comment {
  padding: 10px;
}

.comment:nth-child(even) {
  background: #efefef;
}

.comment .info {
  font-weight: bold;
  font-size: 12px;
  color: #666;
}